.day-bullet {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}

.day-bullet .count {
    flex: 1 0 0;
    text-align: center;
    border-bottom-right-radius: 40% 50%;
    border-bottom-left-radius: 40% 50%;
    border-top-right-radius: 40% 50%;
    border-top-left-radius: 40% 50%;
    margin-right: 10px;
}

.day-bullet .text {
    flex: 9 0 0;
}

.green-days {

}
