.legend-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10px;
}

.hide-legend-button {
  position: absolute;
  top: 3%;
  right: 8%;
}

.hide-legend-button button {
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.legend-grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  /* width: 80%; */
  /* margin: auto; */
}

.legend-item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row nowrap;
}

.legend-item-icon, .legend-item-text {
  margin: 8px;
}

.legend-item-icon img {
  max-height: 20px;
}
