.custom-popup > .leaflet-popup-content-wrapper {
    border-radius: 10px;
    min-width: 200px;
    padding: 0;
    padding-top: 0.75rem;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
}

.custom-popup .leaflet-popup-tip-container {
}

.data-label {
    padding: 5px 0;
}

/* Etiqueta del valor del indicador */
.rt-data-row > div {
    width: 12ch;
    border-color: transparent;
}

.marker-0 {
    background-color: var(--color-buena-b);
    color: var(--color-buena-d);
}

.marker-1 {
    background-color: var(--color-acept-b);
    color: var(--color-acept-d);
}

.marker-2 {
    background-color: var(--color-mala-b);
    color: var(--color-mala-d);
}

.marker-3 {
    background-color: var(--color-muymala-b);
    color: var(--color-muymala-d);
}

.marker-4 {
    background-color: var(--color-extmala-b);
    color: var(--color-extmala-d);
}

.marker-99 {
    background-color: var(--color-nodata);
    color: var(--color-nodata-d);
}
