.custom-popup > .leaflet-popup-content-wrapper {
    border-radius: 10px;
    min-width: 200px;
    padding: 0;
    padding-top: 0.75rem;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
}

.custom-popup .leaflet-popup-tip-container {
}

.data-label {
    padding: 5px 0;
}

/* Etiqueta del valor del indicador */
.rt-data-row > div {
    width: 12ch;
    border-color: transparent;
    columns: 3;
}

.leaflet-container {
    z-index: 0;
}

.marker-wrapper {
    font-size: 12px;
    width: var(--marker-size);
    height: var(--marker-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.marker-wrapper-selected {
    font-size: 12px;
    width: var(--marker-size-selected);
    height: var(--marker-size-selected);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.marker-base {
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.marker-shape-round {
    border-radius: 50%;
}

.behind {
    z-index: -1 !important;
}

.top {
    z-index: 300 !important;
}

.marker-shape-square {
    border-radius: 0%;
}

.marker-good {
    background-color: var(--color-buena);
    color: var(--color-buena-d);
}

.marker-acceptable {
    background-color: var(--color-acept);
    color: var(--color-acept-d);
}

.marker-bad {
    background-color: var(--color-mala);
    color: var(--color-mala-d);
}

.marker-super-bad {
    background-color: var(--color-muymala);
    color: var(--color-muymala-d);
}

.marker-extremely-bad {
    background-color: var(--color-extmala);
    color: var(--color-extmala-d);
}

.marker-no-data {
    background-color: var(--color-nodata);
    color: var(--color-nodata-d);
}

/*.gas-data {*/
    /*margin: 5px;*/
/*}*/
