:root {
  --color-buena: #95BF39;
  --color-buena-b: #BFD988; /* -b Bright, -d Dark */
  --color-buena-d: #597322; 

  --color-acept: #F2E313;
  --color-acept-b: #F7EE71;
  --color-acept-d: #91880B;

  --color-mala: #F2811D;
  --color-mala-b: #F7B377;
  --color-mala-d: #914D11;

  --color-muymala: #F22233;
  --color-muymala-b: #F77A85;
  --color-muymala-d: #91141F;

  --color-extmala: #73022C;
  --color-extmala-b: #AB6780;
  --color-extmala-d: #45011A;

  --color-nodata: #A3A3A3;
  --color-nodata-d: #313131;

  --color-darkgreen: #387347;
  --color-black: #1B1B1B;

  --color-highlight: #387347;

  --marker-size: 36px;
  --marker-size-selected: 47px;
}

.no-data {
  color:var(--color-nodata);
}
.morado {
  color:var(--color-extmala);
}

.bueno {
  color: var(--color-buena);
}
.acept {
  color: var(--color-acept);
}
.mala {
  color: var(--color-mala);
}
.muymala {
  color: var(--color-muymala);
}
.extmala {
  color: var(--color-extmala);
}
.white {
  color: white;
}

nav {
  background-color: var(--color-darkgreen);
  box-shadow: 5px 0 10px grey;
}

nav a img {
  border-radius: 50%;
}

.h1-nav {
  font-size: 1.5rem;
  font-weight: 400;
}

.menu-link {
  border-radius: 5px !important;
  padding: 5px 15px !important;
  color:lightgray;
}

.nav-active {
  text-decoration: none;  
  color: white;
}

.menu-link:hover {
  color: white;
  background-color: #85BF4B;
  text-decoration: none;
}

.mb-10 {
  margin-bottom: 100px;
}

.mb-75 {
  margin-bottom: 75px;
}

/******* RECOMENDACIONES TABS ********/

.tab-content {
  display: flex;
}

.tab-content > .tab-pane {
  display: block; /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.tab-content > .active {
  visibility: visible;
}


.navbar-toggler, .navbar-toggler:focus {
  border:none;
  box-shadow: none;
}

.nav-tabs {
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
}

.navlink .active {
  border: none;
}

.nav-item, .nav-link {
  color: black;
  border-radius: 5px 5px 0px 0px;
  font-weight: 500;
}


.nav-buena {
  border-bottom: solid 5px var(--color-buena);
}
.nav-buena:hover, .nav-buena.active {
  background-color: var(--color-buena);
  color: white;
}

.nav-acept {
  border-bottom: solid 5px var(--color-acept);
}
.nav-acept:hover, .nav-acept.active {
  background-color: var(--color-acept);
  color: white;
}

.nav-mala {
  border-bottom: solid 5px var(--color-mala);
}
.nav-mala:hover, .nav-mala.active{
  background-color: var(--color-mala);
  color: white;
}

.nav-muy {
  border-bottom: solid 5px var(--color-muymala);
}
.nav-muy:hover, .nav-muy.active {
  background-color: var(--color-muymala);
  color: white;
}

.nav-ext {
  border-bottom: solid 5px var(--color-extmala);
}
.nav-ext:hover, .nav-ext.active {
  background-color: var(--color-extmala);
  color: white;
}

.tab-area {
  min-width: 90%;
  margin: auto;
}
.tab-pane {
  padding: 25px;
}

.ta-center {
  text-align: center;
}

/***** FILTROS MAPA ******/
select {
  appearance: auto !important;
  -moz-appearance: auto !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da;
}

.info-btn {
  float: right;
}

.ind-select {
  width: 33vw;
  max-width: 50%;
}

.btn-aplicar {
  background-color: steelblue;
  border: none;
  font-weight: 500;
}
/***** MODAL *****/
.modal-body {
  padding:20px 40px;
}

.mod-ind {
font-weight: bold;
}

.mod-sub {
  color:gray;
  font-size: 1.5rem;
  font-weight: 300;
}

.mod-desc {
 margin-bottom: 25px;
 color: var(--color-black);
}

button, button:focus {
  border:none !important;
  box-shadow: none !important;
}


/***** FILTROS REGISTRO HISTORICO ******/

.btn-outline-light {
  color:var(--color-black);
}

.toggle-vista.btn-light.active {
  background-color: var(--color-darkgreen) !important;
  color:white !important;
  border-radius: 5px;
  z-index: 0;
}

.loading {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 5px 20px;
}

/****** COMPARA FILTROS ****/
.compara-filtros {
  background-color:rgba(70,130,180,0.5);
  padding:15px 15px 1px 15px;
  border-radius: 5px;
}

.compara-filtros .form-group {
  margin-bottom: 5px;
}

.compara-filtros h5, .compara-filtros p {
  font-weight: 500;
  margin-top:5px;
}

.compara-filtros .cf-input {
  margin-bottom: 10px;
}

.grafico {
  margin-top:15px;
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 450px;
}

.grafico-resize {
  height: 100%;
  width: 100%;
}

.grafico-compara {
  margin-top:15px;
  width: 100%;
  margin:auto;
  height: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

/****** CUADRITOS min, max, avg *****/
.dato-calculado {
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: -3px 3px 10px rgba(0,0,0,0.2);
  padding:10px;
  margin-bottom:25px;
}

.dato-calculado .tipo {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0px;
  margin-top:10px;
}

.dato-calculado .numero {
  font-weight: 600;
  font-size: 2.125rem;
  margin-bottom: 0px;
}

.desc {
  font-size: 0.75rem;
  color:gray;
  font-weight: 300;
}

/* Leyenda Mapa */
.leyenda-width {
  width: 15rem;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
}

.leyenda-grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
  align-items: center;
}

/* Marker Mapa */
.marker-border {
  border: 5px solid var(--color-highlight);
}

/****** FOOTER ****/
footer {
  background-color: var(--color-darkgreen);
  color: white;
}

/**** Heat Map Tooltip ****/
.hmTooltip {
  padding: 10px;
}

.hmTooltip p {
  margin-bottom: 0px;
}

@import 'bootstrap/dist/css/bootstrap.min.css';