name: Deployment

on:
  push:
    branches:
      - main

jobs:
  production-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Use NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - run: npm ci
      - run: npm run build --if-present
        env:
          CI: false
      - name: Copy folder to VPS
        uses: garygrossgarten/github-action-scp@release
        with:
          local: build
          remote: /srv/cei-site/build
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
      - run: echo "Current job status ===> ${{ job.status }}."
